/* static/css/custom.css */

body.bg-cover {
    background-size: cover;
    background-position: center;
}

.card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.btn-primary {
    background-color: #5a67d8;
    border-color: #5a67d8;
}

.btn-primary:hover {
    background-color: #434190;
    border-color: #434190;
}

.text-primary {
    color: #5a67d8 !important;
}

.text-primary:hover {
    color: #434190 !important;
}
